* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: white;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
}


/* ------------leftcontainer--------------------------- */

.leftcontainer {
    width: 76%;
    height: 100%;
    background-image: url(/ps.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 0;
    transform: translate(-15%);
    transition: all 1000ms ease-in-out;
}

.leftcontainer::after {
    content: "";
    display: block;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0000ffa3;
}

.textcontentleft {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translate(32%);
    z-index: 800;
    position: absolute;
    transition: transform 1000ms ease-in-out;
}

.leftcontainer.lefteffect {
    transform: translate(0%) scale(1.2);
    transition: transform 1000ms ease-in-out;
}

.lefteffect.rightcontainer {
    transform: translate(68%);
    transition: all 1000ms ease-in-out;
}

.righteffect .textcontentleft {
    transform: translate(5%);
    transition: transform 1000ms ease-in-out;
}

/* -----------------rightcontainer---------------------------- */


.rightcontainer {
    width: 83%;
    height: 100%;
    background-image: url('./xbox.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: 0;
    transform: translate(40%);
    transition: transform 1000ms ease-in-out;
}

.rightcontainer::after {
    content: "";
    display: block;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00ff2a4e;
}

.textcontentright {
    width: 60%;
    height: 100%;
    z-index: 900;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 1000ms ease-in-out;
}

.rightcontainer.righteffect {
    transform: translate(12%);
    transition: transform 1000ms ease-in-out;
}

.righteffect .textcontentright {
    z-index: 80;
    transform: translate(19%);
    position: absolute;
    transition: transform 1000ms ease-in-out;
}


/* ------------button-------------------- */

h1 {
    font-size: 72px;
    z-index: 99;
}

button {
    background: transparent;
    font-size: 46px;
    margin-top: 87px;
    color: white;
    padding: 9px 25px;
    border: 3px solid white;
    cursor: pointer;
    z-index: 99;
}

.textcontentright button:hover {
    background-color: green;
    border: 3px solid transparent;
}

.textcontentleft button:hover {
    background-color: rgb(2, 126, 250);
    border: 3px solid transparent;
}